.backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.change-image {
  all: unset;
  z-index: 4;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  /* aspect-ratio: 1; */
  border-radius: 50px;
  cursor: pointer;
}

.backdrop > div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.backdrop > div > img {
  position: relative;
  border: 8px solid rgb(255, 255, 255, 0.2);
  height: 50vw;
  width: 80vw;
  transform: scale(0.6);
  cursor: zoom-in;
  z-index: 1;
  transition: transform 0.2s;
}

.close-modal {
  position: absolute;
  outline: none;
  font-size: 2rem;
  z-index: 6000;
  background-color: black;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  color:white;
  display: flex;
  align-items: center;
  border-radius: 100px;
  transition: transform .2s;
}

.close-modal:active {
  transform: scale(.9);
}

/* 
------description------
.backdrop > p {
    position: absolute;
    color: white;
    background-color: rgb(255,255,255,.5);
  } */

  @media (max-width: 600px){

    .backdrop > div {
      width: 100vw;
      height: 40vh;
      display: flex;
    }

    .backdrop > div > img {
      width: 100vw;
      transform: scale(1);
      height: 100%;
      user-select: none;
      pointer-events: none;
    }

    .change-image{
      display: none;
    }

    .close-modal {
      left: 80%;
      top: -220px;
    }

  }