@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

.App {
  position: relative;
  font-family: Poppins;
  text-align: center;
  user-select: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(0,0,0,.01);
  /* text-transform: capitalize; */
}

input {
  font-family: Poppins;
}

button, select {
  font-family: Poppins;
  border: none;
  cursor: pointer;
}

select {
  font-size: .8rem;
}

button:active {
  transform: scale(.95);
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.recent-container {
  position: absolute;
  bottom: -20px;
  width: 200px;
  top: 220px;
}

.noResults {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 10%;
  top: -400px;
  /* bottom: 400px; */

}

.noResults > button {
  background-color: rgb(255,90,90);
  padding: 10px 20px;
  color:white;
}